.muestra_texto {
    position: absolute;
    width: 70%;
    right: 2em;
    top: 6em;
    text-align: justify;
    font-size: small;
}

.contiene_plantilla {
    position: absolute;
    height: 20px;
    top: 67%;
    width: 20%;
    left: 2em;
}

.tipo_2_text{
    resize: none;
    margin-top: 3%;
    margin-left: 5%;
    left: 50%;   
}

.title_selector {
    position: absolute;
    left: 30%;
    top: 7%;
}

.contenedor_tipos {
    position: absolute;
    top: 30%;
}

select {
    background-color: rgb(240, 185, 84);
    border-radius: 5px;
}

.contenedor_tipo_2 {
    position: absolute;
    top: 45%;
}

.btn_sgte {
    position: absolute;
    top: 78%;
    background-color: rgb(240, 185, 84);
    border-radius: 5px;
}

select:hover {
    box-shadow: 2px 3px 15px gray;
}

.btn_sgte:hover {
    box-shadow: 2px 3px 15px gray;
}