.contenedor_cajas {
    display: grid;
    grid-template-columns: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 2vw;
    top: 20vh;
    width: 25rem;
    height: rem;
    font-size: 2vw;
    background-color: rgb(255, 245, 238,0.5);    
}

.form_login label {
    font-family: sCambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    width: 100%;    
}

.form_login input{
    border: 0;
    width: 15vw;
    height: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 5px;
    background-color: rgb(240, 185, 84);
    font-size: 1.5vw;
}

.form_user-submit {
    font-family: sCambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.messages_content li {
    background-color: darkgoldenrod;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.title {
    text-align: center;
    margin-top: 40px;
    color: white;
    font-size: 30px;
}