<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilosBase.css')}}">
    <title>Página no encontrada</title>
</head>
<body>
    <h1>Que vergüenza más grande!!</h1>
    <h2 class="sub_404">No hemos encontrado la página que buscas</h2>
    <a href="/"><img class="img_404" src="{{url_for('static', filename='img/error-404.jpg')}}" alt=""></a>
</body>
</html>