<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos2.css')}}">
    <title>VOXCALL</title>

    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="//cdn.voximplant.com/edge/voximplant.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            setTimeout(function(){
                $(".content").fadeIn(1500);
            },3000);
        });
    </script>
    
    <script type="text/javascript">
    $(document).ready(function() {
        setTimeout(function() {
            $(".content").fadeOut(1500);
        },3000);
     
        setTimeout(function() {
            $(".content2").fadeIn(1500);
        },6000);
    });
    </script>
    <script type="text/javascript">
        const voximplant = VoxImplant.getInstance();
        try {
            voximplant.init();
            // SDK initialized
            console.log("SDK inicializado");
            voximplant.addEventListener(VoxImplant.Events.ConnectionClosed, () => {
            // Connection was closed
            console.log("Se cerró la conexión");
            });
            try {
                voximplant.connect();
            // Connection was established successfully
                console.log("La conexión se estableció correctamente");
            } catch (e) {
                // Connection failed
                console.log("La conexión falló");
            }
        } catch (e) {
            // SDK init failure
            console.log("Error de inicio del SDK");
        }

        try {
        // Change "appname" and "accname" to names of your application and account,
        // "username" and "password" to name and password of user created via
        // the control panel.
        voximplant.login("itcdaniel@voxcall.itcdaniel.n2.voximplant.com",
        "danielitc2020");
        console.log("Éxito en la autorización");
        // Authorization success
        } catch (e) {
        // Authorization failure
        console.log("Falla en la autorización");
        }        
    
    </script>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages content">
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h1>VOXCALL</h1>
    <section class="section_log">
        <div class="menu">
            <ul>
                <li><a href="/">Histórico</a></li>
                <li><a href="/import">Importar</a></li>
                <li><a href="/contact">Contacto</a></li>
            </ul>
        </div>
    </section>
    {%block section_1 %}
    {%endblock%}    
</body>
</html>