{%extends 'base2.html'%}
{% block section_1 %}
<section class="section_log">
    <div class="contenedor_cajas">
        <h1>Formulario de contacto</h1>
        <form action="" method="post" id="form_contact" class="form_contact">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="contenedor_1">
                <input type="text" class="name inp_form" name="name" id="name" placeholder="Nombre">
                <input type="text" class="phone inp_form" name="phone_number" id="phone_number" placeholder="Número de teléfono">
            </div>
            <input type="email" class="email inp_form" name="email" id="email" placeholder="Email">
            <textarea placeholder="Mensaje" class="inp_form" name="message" id="message" cols="53" rows="10"></textarea>
            <button class="btn_submit_contact" type="submit">Enviar</button>
        </form>
    </div>
</section>
{% endblock %}    