<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Voxcall - Login
    </title>
    <!-- Favicon -->
    <link href="{{url_for('static', filename='assets/img/brand/favicon.png')}}" rel="icon" type="image/png">
        
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="{{url_for('static', filename='assets/js/plugins/nucleo/css/nucleo.css')}}" rel="stylesheet" />
        
    <link href="{{url_for('static', filename='assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css')}}" rel="stylesheet" />
        
    <!-- CSS -->
    <link href="{{url_for('static', filename='assets/css/voxcall-dashboard.css')}}" rel="stylesheet" />
</head>

<body class="bg-default">
  <div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
      <div class="container px-4">
        <a class="navbar-brand" href="/">
          <h1 class="text-white"><i class="fa fa-phone-square"></i> VOXCALL</h1>
        </a>
      </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8">
      <div class="container">
        <div class="header-body text-center mb-5">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
              <h1 class="text-white">Bienvenido!</h1>
              <p class="text-lead text-light">Registro de nuevos usuarios</p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Complete los datos solicitados</small>
              </div>
              <form role="form" action="/users/save" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                    </div>
                    <input class="form-control" placeholder="Usuario" type="text" name="username">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" type="email" name="email">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Contraseña" type="password" name="password">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <select class="form-control" name="rol" id="rol">
                      <option value="0" disabled selected>Selecciona un rol</option>
                      {% for rol in data %}
                        <option value="{{rol.id}}">{{rol.nombre}}</option>
                      {% endfor %}
                      
                    </select>
                  </div>
                </div>                
                <div class="row my-4">
                  <div class="col-12">
                    <div class="custom-control custom-control-alternative custom-checkbox">
                      <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                      <label class="custom-control-label" for="customCheckRegister">
                        <span class="text-muted">Acepto todas las <a href="#!">Políticas de Privacidad</a></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary mt-4">Crear Cuenta</button>
                </div>
              </form>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <a href="/" class="text-light"><small><i class="ni ni-bold-left"></i> Regresar al login</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--   Core   -->
  <!--   Core   -->
  <script src="{{url_for('static', filename='assets/js/plugins/jquery/dist/jquery.min.js')}}"></script>
  
  <script src="{{url_for('static', filename='assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
  
  <!--   JS   -->
  <script src="{{url_for('static', filename='assets/js/voxcall-dashboard.min.js')}}"></script>
</body>
</html>