{% extends "base.html" %}
{% block css_externo %}  <link href="{{url_for('static', filename='assets/css/jquery.dataTables.min.css')}}" rel="stylesheet" />{% endblock %}
{% block contenido_principal %}
<d class="col-xl-12 mb-5 mb-xl-0">
    <div class="card shadow">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="text-uppercase text-light ls-1 mb-1"></h6>
            <h2 class="mb-0">Histórico</h2>
          </div>
        </div>
      </div>
      <input type="hidden" name="tipo2" id="tipo2" value="{{tipo}}">
      <div class="card-body">
        <!-- Register -->
          <div class="table-responsive">
            <!-- Historic table -->                                  
              <table class="table align-items-center table-flush table-sm" id="tablaRegistros">
              <thead class="thead-light">
                  <tr>
                      <th>Fecha</th>
                      <th>Tipo</th>
                      <th>Número</th>  
                  </tr>
              </thead>
              <tbody>
                {% for dato in datos %}
                  <tr id="filas_historico">
                    <td>{{dato.fecha}}</td>
                    <td>{{dato.tipo}}</td>
                    <td>{{dato.numero}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </d>
</div>
{% endblock %}