{%extends 'base.html'%}
{% block section_1 %}
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <section class="section_log">
        <div class="contenedor_cajas">
            {% from "_macro.html" import render_field %}
            <form class="form_login" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="input_username">
                    {{ render_field(form.username) }}
                </div>
                <div class="input_password">
                    {{ render_field(form.password) }}
                </div>
                <div class="input_submit">
                    <input type="submit" value="Ingresar">
                </div>

            </form>
        </div>
    </section>
{% endblock %}