{% extends "base.html" %}
{% block contenido_principal %}
<div class="col-xl-4">
    <div class="card shadow">
      <div class="card-header bg-transparent">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="text-uppercase text-muted ls-1 mb-1">Opciones</h6>
            <h2 class="mb-0">Seleccione las alternativas</h2>
          </div>
        </div>
      </div>
      <div class="card-body">
        <!-- Form -->
        <form id="formulario" role="form" action="/calls/charge" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div>
            <input type="radio" id="call" name="type" value="call"
            checked>
            <label for="call">llamada</label>
          </div>
          
          <div>
            <input type="radio" id="sms" name="type" value="sms">
            <label for="sms">sms</label>
          </div>
          
          <div>
            <input disabled type="radio" id="whatsapp" name="type" value="whatsapp">
            <label for="whatsapp">WhatsApp</label>
          </div>                  
          <div class="form-group">
            <label for="example-search-input" class="form-control-label">Tipo de mensaje</label>
            <select class="form-control" name="tipos" id="tipos">
              <option value="0">Seleccione...</option>
              <option value="1">Bancario</option>
              <option value="2">Casa Comercial</option>
              <option value="3">Hospitalario</option>
              <option value="4">Genérico</option>
            </select>
          </div>
          <div class="form-group" id="contiene_segundo_select">
            <label for="example-search-input" class="form-control-label">Tipo de mensaje</label>
            <select class="form-control" name="select_msj" id="select_msj" style="display: none;"></select>
          </div>
          <div class="form-group">
            <div class="text-center">
              <input class="btn btn-primary" class="btn_sgte" type="submit" value="Siguiente">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Mensaje</h6>
              <h2 class="text-white mb-0">Selector de tipo de mensaje</h2>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item" data-toggle="chart" data-target="#chart-sales" id="contiene_plantilla" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$" data-suffix="k">
                  <a href="#" class="nav-link py-2 px-3" id="contiene_plantilla_link">
                    <span class="d-none d-md-block"><i class="fa fa-download"></i> Descargar Planilla</span>
                    <span class="d-md-none"><i class="fa fa-download"></i> Descargar Planilla</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Message -->
          <div class="mb-8" id="mostrar_textarea">
            <p class="text-white" name="muestra_texto" id="muestra_texto">
              Acá se presentará en detalle el tipo de mensaje a enviar.
            </p>
          </div>
        </div>
      </div>
    </div>
    </div>
    </form>  
{% endblock %}